.info-item {
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  padding-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-item img {
  width: 40px;
  height: 40px;
}

.temperature {
  color: #171717;
  font-weight: 600;
}

.weather {
  color: #000;
  text-transform: capitalize;
}
